<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

VERSION 3.7.0
  - #27041: Single view got the record browser. See marker ###RECORD_BROWSER### below.
            Single view got an id.
            
            
  <body>

<!-- ###TEMPLATE_LIST### begin -->
        <div class="ui-widget ui-corner-all">
          <!-- ###LIST_TITLE### begin -->
          ###MY_TITLE###
          <!-- ###LIST_TITLE### end -->
          <!-- ###SEARCHFORM### begin -->
          <div id="c###TT_CONTENT.UID###-list-searchbox-###MODE###" class="searchbox searchbox-###VIEW###-###MODE###">
            <form id="c###TT_CONTENT.UID###-list-searchbox-form-###MODE###" action="###ACTION###" method="post" >
              <fieldset>
                <legend>###MY_SEARCH_LEGEND###</legend>
                <div style="float:right; text-align:right;">
                  <input class="reset" type="button" onclick="location='###MY_URL###'" value="###MY_RESET###" />
                  <!-- ###BUTTON_CSV-EXPORT### begin -->
                  <input id="c###TT_CONTENT.UID###-list-submit-csv-export-###MODE###" class="button hidesubmit"  type="submit"  value="###MY_CSV_EXPORT###" />
                  <!-- ###BUTTON_CSV-EXPORT### end -->
                  <input class="button" type="submit" value="###BUTTON###" />
                </div>
                <input type="hidden" name="no_cache" value="1" />
                <input class="sword" type="text" name="tx_browser_pi1[sword]" onfocus="if(this.value =='###SWORD_DEFAULT###') this.value=''" value="###SWORD###" />
                <!-- Add filters with the ###TABLE.FIELD### syntax and configure your filters with TypoScript -->
                <div class="filter">
                  ###TX_ORG_DOWNLOADSCAT.TITLE###
                  ###TX_ORG_DOWNLOADSMEDIA.TITLE###
                  ###TX_ORG_DOWNLOADS.DATETIME###
                </div>
              </fieldset>
            </form>
            ###RESULTPHRASE###
          </div><!-- ###SEARCHFORM### end -->
          <div class="listarea">
            <!-- ###LISTTABS### begin -->
            <div id="c###TT_CONTENT.UID###-list-tabs-###MODE###" class="ui-tabs ui-tabs-list-###MODE### ui-widget ui-widget-content ui-corner-all">
              <!-- ###CATEGORY_MENU### begin -->
              <!-- Enable the subpart CATEGORY_MENU: Set plugin.tx_browser_pi1.displayList.display.category_menu = 1 -->
              <div id="c###TT_CONTENT.UID###-list-category-menu-###MODE###" class="category_menu category_menu-###VIEW###-###MODE###">
                <!-- Add a category_menu with the ###TABLE.FIELD### syntax and configure your category_menu like a filter with TypoScript -->
              </div><!-- ###CATEGORY_MENU### end -->
              <!-- ###AZSELECTOR### begin -->
                <div id="c###TT_CONTENT.UID###-list-azSelector-###MODE###" class="azSelector azSelector-###UL_VIEW###-###UL_MODE###">
                <ul class="azSelector azSelector-###UL_VIEW###-###UL_MODE###"><!-- ###AZSELECTORTABS### begin -->
                  <li###LI_CLASS###>###TAB###</li><!-- ###AZSELECTORTABS### end -->
                </ul>
              </div><!-- ###AZSELECTOR### end -->
              <!-- ###PAGEBROWSER### begin -->
              <div id="c###TT_CONTENT.UID###-list-browsebox-###MODE###" class="browsebox browsebox-###VIEW###-###MODE###">
                ###RESULT_AND_ITEMS###
              </div><!-- ###PAGEBROWSER### end -->
              <!-- ###MODESELECTOR### begin -->
              <ul class="ui-tabs-nav ui-tabs-nav-list-###MODE### ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                <!-- ###MODESELECTORTABS### begin -->
                <li id="c###TT_CONTENT.UID###-list-tab-###MODE###" class="ui-state-default ui-corner-top c###TT_CONTENT.UID###-list-tab###UI-STATE-ACTIVE######UI-TABS-SELECTED###">###TABS###</li>
                <!-- ###MODESELECTORTABS### end -->
              </ul>
              <!-- ###MODESELECTOR### end -->
              <!-- ###LISTVIEW### begin -->
              <div id="c###TT_CONTENT.UID###-listview-###MODE###" class="listview listview-downloads listview-###MODE### listview-downloads-###MODE### ui-tabs-panel ui-widget-content ui-corner-bottom">
                <!-- ###LISTHEAD### begin --><!-- ###LISTHEADITEM### begin -->###ITEM###<!-- ###LISTHEADITEM### end --><!-- ###LISTHEAD### end -->
                <!-- ###GROUPBY### begin -->
                <!-- ###GROUPBYHEAD### begin -->
                <h3>
                  ###GROUPBY_GROUPNAME###
                </h3>
                <!-- ###GROUPBYHEAD### end -->
                <!-- ###GROUPBYBODY### begin -->
                <!-- ###LISTBODY### begin --><!-- ###LISTBODYITEM### begin -->
                <div class="record01">
                  <div class="image01">
                    ###TX_ORG_DOWNLOADS.THUMBNAIL###
                  </div>
                  <div class="sbmFloatRight">
                    ###SOCIALMEDIA_BOOKMARKS###
                  </div>
                  <h3>
                    ###TX_ORG_DOWNLOADS.SUBTITLE###
                  </h3>
                  <h2>
                     ###TX_ORG_DOWNLOADS.TITLE###
                  </h2>
                  <p>
                    ###TX_ORG_DOWNLOADS.TEASER_SHORT###
                  </p>
                </div>
                <div class="cleaner">&nbsp;</div><!-- ###LISTBODYITEM### end --><!-- ###LISTBODY### end -->
                <!-- ###GROUPBYBODY### end -->
                <!-- ###GROUPBY### end -->
                ###MY_BACK_BUTTON_LINE###
              </div><!-- ###LISTVIEW### end -->
            </div> <!-- /ui-tabs -->
            <!-- ###LISTTABS### end -->
          </div> <!-- /listarea -->
        </div> <!-- /ui-widget -->
<!-- ###TEMPLATE_LIST### end -->



<!-- ###TEMPLATE_SINGLE### begin -->
<!-- ###AREA_FOR_AJAX_LIST_01### begin -->
        <div class="ui-widget ui-corner-all">
          <!-- ###MODESELECTOR### begin -->
          <div id="c###TT_CONTENT.UID###-modeSelector-###VIEW###-###MODE###" class="modeSelector modeSelector-###VIEW###-###MODE###">
            <ul class="modeSelector modeSelector-###VIEW###-###MODE###"><!-- ###MODESELECTORTABS### begin -->
              <li###CLASS###>###TABS###</li><!-- ###MODESELECTORTABS### end -->
            </ul>
          </div><!-- ###MODESELECTOR### end --><!-- ###SINGLEVIEW### begin -->
          <div id="c###TT_CONTENT.UID###-singleview-###MODE###" class="single single-###MODE###"><!-- ###SINGLEBODY### begin --><!-- ###SINGLEBODYROW### begin -->
            ###RECORD_BROWSER###
            <div class="ui-tabs ui-tabs-single-###MODE### ui-widget ui-widget-content ui-corner-all">
              <div class="socialbookmarks">
                ###SOCIALMEDIA_BOOKMARKS###
              </div>
              ###TX_ORG_DOWNLOADS.TITLE###
            </div> <!-- /ui-widget -->
            <!-- ###SINGLEBODYROW### end -->
<!-- ###AREA_FOR_AJAX_LIST_01### end -->
            <p class="backbutton">
              ###MY_BACK_BUTTON### | ###MY_LISTVIEW_PAGE###
            </p>
<!-- ###AREA_FOR_AJAX_LIST_02### begin -->
<!-- ###AREA_FOR_AJAX_LIST_02### end -->
            <!-- ###SINGLEBODY### end -->
          </div>
          <!-- ###SINGLEVIEW### end -->
        </div> <!-- /ui-widget -->
<!-- ###TEMPLATE_SINGLE### end -->



<!-- ###TEMPLATE_SELECTBOX_VALID### begin -->
            <div class="sortbox">
              <form ###CLASS### action="###URL###" method="POST">
                <fieldset>
                  <legend>###LEGEND###</legend>
                  <input type="hidden" name="no_cache" value="1" />
                  ###HIDDEN###
                  ###SELECTBOX###
                  <input class="button" type="submit" value="###BUTTON###" />
                </fieldset>
              </form>
            </div>
<!-- ###TEMPLATE_SELECTBOX_VALID### end -->



<em>
  Position of subpart markers is important for line beaks!
</em>
<!-- ###TEMPLATE_CSV### begin --><!-- ###LISTVIEW### begin --><!-- ###LISTHEAD### begin --><!-- ###LISTHEADITEM### begin -->###ITEM###<!-- ###LISTHEADITEM### end --><!-- ###LISTHEAD### end -->
<!-- ###LISTBODY### begin --><!-- ###LISTBODYITEM### begin -->###ITEM###<!-- ###LISTBODYITEM### end -->
<!-- ###LISTBODY### end --><!-- ###LISTVIEW### end --><!-- ###TEMPLATE_CSV### end -->



  </body>
</html>