.tx-browser-pi1 .cleaner {
  clear:both;
  line-height:.4em;
}
.tx-browser-pi1 .filter {
  margin:.2em 0 0 0;
}
.tx-browser-pi1 .filter .period_menu {
  margin:0 0 1em 0;
}

.tx-browser-pi1 .browsebox {
  padding-bottom:1em;
  text-align:center;
}
.tx-browser-pi1 .backbutton {
  text-align:right;
}

.tx-browser-pi1 .returntolist {
  display:block;
  padding-bottom:1em;
}

.tx-browser-pi1 span.category_menu ul {
  display:inline;
  list-style:none;
  margin:0;
  padding:0 1em 0 0;
}

.tx-browser-pi1 span.category_menu ul li {
  border-left:2px solid black;
  display:inline;
  padding-left:.4em;
}
.tx-browser-pi1 span.category_menu ul li:first-child {
  border-left:0;
  padding-left:0;
}

.tx-browser-pi1 .sbmFloatRight,
.tx-browser-pi1 .socialbookmarks {
  float:right;
  font-size: 1em;
}
.tx-browser-pi1 .my_datesheet_box {
  float:left;
  width:70px;
}
.tx-browser-pi1 .my_datesheet {
  float:left;
  font-weight:bold;
  margin-right:1em;
  padding:.4em;
  text-align:center;
}
.tx-browser-pi1 .my_datesheet_expired {
  background-color:#CCC;
}
.tx-browser-pi1 .my_datesheet .day_of_month {
  font-size:2.8em;
  line-height:1em;
}
.tx-browser-pi1 .my_datesheet_repertoire .month {
  font-size:2em;
  line-height:1.2em;
}

.tx-browser-pi1 .cal_datetime {
  font-size:.8em;
  font-weight:bold;
}
.tx-browser-pi1 .cal_location {
/*  padding:1em 0; */
}

.tx-browser-pi1 .listview .image01 {
  float:left;
  padding:0 1em 0 0;
  width:80px;
}
.tx-browser-pi1 .listview-content p {
  margin-left:7.6em;
}

.tx-browser-pi1 .singleview li.csc-textpic-image {
  padding-right:.4em;
}

.tx-browser-pi1 .singleview li.csc-textpic-image {
  padding-right:.4em;
}

.tx-browser-pi1 .csc-textpic-imagecolumn ul {
  overflow:hidden;
}
.tx-browser-pi1 .csc-textpic-imagecolumn li.csc-textpic-image {
  padding: 0 0 0 .2em;
}
.tx-browser-pi1 table.csc-uploads {
  font-size:.85em;
}
.tx-browser-pi1 form.tx_org_cal-ticket {
  padding: 1em 0;
}
.tx-browser-pi1 form.tx_org_cal-ticket input[type=submit] {
  float:right;
}

#content .tx-browser-pi1 .ui-button,
.tx-browser-pi1 form.tx_org_downloads-order .ui-button {
  padding: 0;
}
#content .tx-browser-pi1-list .ui-button {
  font-size:.85em;
}
#content .tx-browser-pi1-list .more {
  float:right;
}
#content .tx-browser-pi1-list .more img {
  padding-right:.2em;
  position: relative;
  top: 3px;
}
#content .tx-browser-pi1-list .more .statistics-downloads {
  font-size:.8em;
}

#content .tx-browser-pi1-single .ui-button,
.tx-browser-pi1-single form.tx_org_downloads-order .ui-button {
  padding: 0;
  width: 11em;
}
#content .tx-browser-pi1-single div.ui-button,
.tx-browser-pi1-single form.tx_org_downloads-order div.ui-button {
  width: 10.9em;
}
.tx-browser-pi1 form.tx_org_downloads-order legend {
  display: none;
}
#content .tx-browser-pi1 .ui-button-text,
.tx-browser-pi1 form.tx_org_downloads-order .ui-button-text {
  padding: 0;
}
/*.tx-browser-pi1 form.tx_org_downloads-order .ui-button-text a {
  font-weight: normal;
}
*/
#content .tx-browser-pi1 .ui-button-text img,
.tx-browser-pi1 form.tx_org_downloads-order .ui-button-text img {
  position: relative;
  top: 3px;
}
.tx-browser-pi1 form.tx_org_downloads-order input.quantity {
  padding-right: .2em;
  text-align: right;
  width: 3em;
}
.tx-browser-pi1 form.tx_org_downloads-order table td {
  padding-right: 1em;
}
.tx-browser-pi1 form.tx_org_downloads-order table td.csc-uploads-fileSize {
  text-align: right;
}


.tx-browser-pi1 tx_powermail_pi1_formconfirmation_submit {
  text-align:right;
}
