.tx-browser-pi1 .filter {
  margin:.2em 0 0 0;
}
.tx-browser-pi1 .filter .period_menu {
  margin:0 0 1em 0;
}

.tx-browser-pi1 span.category_menu ul {
  display:inline;
  list-style:none;
  margin:0;
  padding:0 1em 0 0;
}

.tx-browser-pi1 span.category_menu ul li {
  border-left:2px solid black;
  display:inline;
  padding-left:.4em;
}
.tx-browser-pi1 span.category_menu ul li:first-child {
  border-left:0;
  padding-left:0;
}

.tx-browser-pi1 .socialbookmarks {
  float:right;
  font-size: 1em;
}
.tx-browser-pi1 .my_datesheet_box {
  float:left;
  width:70px;
}
.tx-browser-pi1 .my_datesheet {
  float:left;
  font-weight:bold;
  margin-right:1em;
  padding:.4em;
  text-align:center;
}
.tx-browser-pi1 .my_datesheet_expired {
  background-color:#CCC;
}
.tx-browser-pi1 .my_datesheet .day_of_month {
  font-size:2.8em;
  line-height:1em;
}
.tx-browser-pi1 .my_datesheet_repertoire .month {
  font-size:2em;
  line-height:1.2em;
}

.tx-browser-pi1 .cal_datetime {
  font-size:.8em;
  font-weight:bold;
}

.tx-browser-pi1 .singleview li.csc-textpic-image {
  padding-right:.4em;
}

.tx-browser-pi1 .singleview li.csc-textpic-image {
  padding-right:.4em;
}

.tx-browser-pi1 .csc-textpic-imagecolumn ul {
  overflow:hidden;
}
.tx-browser-pi1 .csc-textpic-imagecolumn li.csc-textpic-image {
  padding: 0 .2em .2em 0;
}
.tx-browser-pi1 table.csc-uploads {
  font-size:.85em;
}