.tx-browser-pi1 .cleaner {
  clear:both;
  line-height:.4em;
}
.tx-browser-pi1 .filter {
  margin:.2em 0 0 0;
}
.tx-browser-pi1 .filter .period_menu {
  margin:0 0 1em 0;
}

.tx-browser-pi1 .browsebox {
  padding-bottom:1em;
  text-align:center;
}
.tx-browser-pi1 .backbutton {
  text-align:right;
}

.tx-browser-pi1 .returntolist {
  display:block;
  padding-bottom:1em;
}

.tx-browser-pi1 span.category_menu ul {
  display:inline;
  list-style:none;
  margin:0;
  padding:0 1em 0 0;
}

.tx-browser-pi1 span.category_menu ul li {
  border-left:2px solid black;
  display:inline;
  padding-left:.4em;
}
.tx-browser-pi1 span.category_menu ul li:first-child {
  border-left:0;
  padding-left:0;
}

.tx-browser-pi1 .sbmFloatRight,
.tx-browser-pi1 .socialbookmarks {
  float:right;
  font-size: 1em;
}
.tx-browser-pi1 .my_datesheet_box {
  float:left;
  width:70px;
}
.tx-browser-pi1 .my_datesheet {
  float:left;
  font-weight:bold;
  margin-right:1em;
  padding:.4em;
  text-align:center;
}
.tx-browser-pi1 .my_datesheet_expired {
  background-color:#CCC;
}
.tx-browser-pi1 .my_datesheet .day_of_month {
  font-size:2.8em;
  line-height:1em;
}
.tx-browser-pi1 .my_datesheet_repertoire .month {
  font-size:2em;
  line-height:1.2em;
}

.tx-browser-pi1 .cal_datetime {
  font-size:.8em;
  font-weight:bold;
}
.tx-browser-pi1 .cal_location {
/*  padding:1em 0; */
}
.tx-browser-pi1 .cal_title {
  font-weight:bold;
}

.tx-browser-pi1 .cat_color {
  float:left;
  height:2em;
  margin-right:.4em;
  width:2em;
}

.tx-browser-pi1 .listview .image01 {
  float:left;
  padding:0 1em 0 0;
  width:80px;
}
.tx-browser-pi1 .listview-content p {
  margin-left:7.6em;
}

.tx-browser-pi1 .searchbox {
  padding-bottom:1em;
}

.tx-browser-pi1 .listview-content {
  padding:.6em;
}
.tx-browser-pi1 .singleview-content {
  padding:1em;
}

.tx-browser-pi1 .singleview li.csc-textpic-image {
  padding-right:.4em;
}

.tx-browser-pi1 .singleview li.csc-textpic-image {
  padding-right:.4em;
}

.tx-browser-pi1 .csc-textpic-imagecolumn ul {
  overflow:hidden;
}
.tx-browser-pi1 .csc-textpic-imagecolumn li.csc-textpic-image {
  padding: 0 0 0 .2em;
}
.tx-browser-pi1 table.csc-uploads {
  font-size:.85em;
}
.tx-browser-pi1 form.tx_org_cal-ticket {
  padding: 1em 0;
}
.tx-browser-pi1 form.tx_org_cal-ticket input.qty {
  text-align:right;
  width:2em;
}
.tx-browser-pi1 form.tx_org_cal-ticket input[type=submit] {
  float:right;
}

#content .tx-browser-pi1-list .more {
  float:right;
}
#content .tx-browser-pi1-list .more img {
  padding-right:.2em;
  position: relative;
  top: 3px;
}
#content .tx-browser-pi1-list .more .statistics-downloads {
  font-size:.8em;
}

.tx-browser-pi1 form.tx_org_downloads-order legend {
  display: none;
}
/*.tx-browser-pi1 form.tx_org_downloads-order .ui-button-text a {
  font-weight: normal;
}
*/
#content .ui-button {
  font-size:0.75em;
  font-weight:bold;
}
#content .ui-widget {
  font-family: Arial,Helvetica,Verdana,Geneva,sans-serif;
}
/* #content .ui-tabs ul li {
  font-size:0.75em;
  font-weight:bold;
}
#content .ui-tabs .without-href {
  opacity: 0.20;
  cursor:default;
}
.tx-browser-pi1 .ui-tabs-list {
  padding:0.2em;
} */
#content form.tx_org_downloads-order .ui-button {
  padding: 0;
}
#xxx_content .tx-browser-pi1 .ui-button,
.xxx_tx-browser-pi1 form.tx_org_downloads-order .ui-button {
  padding: 0;
}
#content .tx-browser-pi1 .singleview .ui-widget-content {
  padding: 1em 1em 0 1em;
}
#content form.tx_org_downloads-order .ui-button {
  width: 11em;
}
#content .tx-browser-pi1-list .tx-browser-pi1-single form.tx_org_downloads-order .ui-button {
  font-size:1.15em;
}
#content form.tx_org_downloads-order div.ui-button {
  width: 10.9em;
}
#content form.tx_org_downloads-order .ui-button-text,
.tx-browser-pi1 form.tx_org_downloads-order .ui-button-text {
  padding: 0;
}
#content form.tx_org_downloads-order .ui-button-text img,
.tx-browser-pi1 form.tx_org_downloads-order .ui-button-text img {
  position: relative;
  top: 3px;
}
.tx-browser-pi1 form.tx_org_downloads-order input.quantity {
  padding-right: .2em;
  text-align: right;
  width: 3em;
}
.tx-browser-pi1 form.tx_org_downloads-order table td {
  padding-right: 1em;
}
.tx-browser-pi1 form.tx_org_downloads-order table td.csc-uploads-fileSize {
  text-align: right;
}


.tx-browser-pi1 tx_powermail_pi1_formconfirmation_submit {
  text-align:right;
}

.tx-browser-pi1 .category_menu_treeview {
  float: left;
  padding-right: 1em;
  position: relative;
  top: -1em;
  width: 30em;
}

.tx-browser-pi1 .category_menu_treeview a {
  font-weight:normal;
}
.tx-browser-pi1 .category_menu_treeview a.selected {
  font-weight:bold;
}

#tx-browser-pi1-jstree-01,
#tx-browser-pi1-jstree-02,
#tx-browser-pi1-jstree-03,
#tx-browser-pi1-jstree-04,
#tx-browser-pi1-jstree-05
{
  border: 1px solid #CCC;
  border-radius: 6px 6px 6px 6px;
  padding: 0.4em;
  position: relative;
  top: 1em;
  z-index: 1;
}
.tx-browser-pi1 .sword {
   position: relative;
   z-index: 2;
}