.row > .indexBrowser,
.row > .modeSelector {
  padding:0 0.9375rem !important;
}

.tx-browser-pi1 .cleaner {
  clear:both;
  line-height:.4em;
}
.tx-browser-pi1 .filter {
  /*margin:.2em 0 0 0;*/
}
.tx-browser-pi1 .filter .period_menu {
  margin:0 0 1em 0;
}

.tx-browser-pi1 .browsebox {
  padding-bottom:1em;
  text-align:center;
}
.tx-browser-pi1 .backbutton {
  text-align:right;
}

.tx-browser-pi1 .returntolist {
  display:block;
  padding-bottom:1em;
}

.tx-browser-pi1 span.category_menu ul {
  display:inline;
  list-style:none;
  margin:0;
  padding:0 1em 0 0;
}

.tx-browser-pi1 span.category_menu ul li {
  border-left:2px solid black;
  display:inline;
  padding-left:.4em;
}
.tx-browser-pi1 span.category_menu ul li:first-child {
  border-left:0;
  padding-left:0;
}

.tx-browser-pi1 .sbmFloatRight,
.tx-browser-pi1 .socialbookmarks {
  float:right;
  font-size: 1em;
}
/* #61819, 140923, dwildt, + .datesheet*/
.tx-browser-pi1 .datesheet {
  background-color: #008CBA;
  border-color: #008CBA;
  color:#FFF;
  font-weight:bold;
  text-align:center;
}
.tx-browser-pi1 .datesheet a {
  /*color: white;*/
}
.tx-browser-pi1 .datesheet a,
.tx-browser-pi1 .datesheet a:link,
.tx-browser-pi1 .datesheet a:visited {
  color:#FFF;
}
.tx-browser-pi1 .datesheet a:active,
.tx-browser-pi1 .datesheet a:focus,
.tx-browser-pi1 .datesheet a:hover {
  color:#F79210;
}
.tx-browser-pi1 .datesheet .day_of_month {
  font-size:2em;
}
/* #61819, 140923, dwildt, + .datesheet_expired*/
.tx-browser-pi1 .datesheet_expired {
  background-color: #FFF;
  border-color: #DDD;
  color:#000;
}
.tx-browser-pi1 .datesheet_expired a,
.tx-browser-pi1 .datesheet_expired a:link,
.tx-browser-pi1 .datesheet_expired a:visited {
  color:#000;
}
.tx-browser-pi1 .datesheet_expired a:active,
.tx-browser-pi1 .datesheet_expired a:focus,
.tx-browser-pi1 .datesheet_expired a:hover {
  color:#F79210;
}

.tx-browser-pi1 .cal_datetime {
  font-size:.8em;
  font-weight:bold;
}
.tx-browser-pi1 .cal_location {
  /*  padding:1em 0; */
}
.tx-browser-pi1 .cal_title {
  font-weight:bold;
}

.tx-browser-pi1 .cat_color {
  float:left;
  height:2em;
  margin-right:.4em;
  width:2em;
}

.tx-browser-pi1 .searchbox {
  padding-bottom:1em;
}

.tx-browser-pi1 .searchbox fieldset,
.tx-browser-pi1 .selectboxorderby fieldset {
  border:0;
  margin:0;
  padding:0;
}
.tx-browser-pi1 .searchbox fieldset legend,
.tx-browser-pi1 .selectboxorderby fieldset legend {
  display:none;
}

.tx-browser-pi1 .listview-content {
  /*foundation, 140922, dwildt, 1-*/
  /*padding:.6em;*/
}
/* #i0080, 150922, dwildt, 3+*/
.tx-browser-pi1 .singleview {
  padding:1em 0;
}
.tx-browser-pi1 .singleview-content {
  /*foundation, 140922, dwildt, 1-*/
  /*padding:1em;*/
}

.tx-browser-pi1 .singleview li.csc-textpic-image {
  padding-right:.4em;
}

.tx-browser-pi1 .csc-textpic-imagecolumn ul {
  overflow:hidden;
}
.tx-browser-pi1 .csc-textpic-imagecolumn li.csc-textpic-image {
  padding: 0 0 0 .2em;
}
.tx-browser-pi1 table.csc-uploads {
  font-size:.85em;
}
.tx-browser-pi1 form.tx_org_cal-ticket {
  padding: 1em 0;
}
.tx-browser-pi1 form.tx_org_cal-ticket input.qty {
  text-align:right;
  width:2em;
}
.tx-browser-pi1 form.tx_org_cal-ticket input[type=submit] {
  float:right;
}

#content .tx-browser-pi1-list .more {
  float:right;
}
#content .tx-browser-pi1-list .more img {
  padding-right:.2em;
  position: relative;
  top: 3px;
}
#content .tx-browser-pi1-list .more .statistics-downloads {
  font-size:.8em;
}

.tx-browser-pi1 form.tx_org_downloads-order legend {
  display: none;
}
/*.tx-browser-pi1 form.tx_org_downloads-order .ui-button-text a {
  font-weight: normal;
}
*/
#content .ui-button {
  font-size:0.75em;
  font-weight:bold;
}
#content .ui-widget {
  font-family: Arial,Helvetica,Verdana,Geneva,sans-serif;
}
/* #content .ui-tabs ul li {
  font-size:0.75em;
  font-weight:bold;
}
#content .ui-tabs .without-href {
  opacity: 0.20;
  cursor:default;
}
.tx-browser-pi1 .ui-tabs-list {
  padding:0.2em;
} */
#content form.tx_org_downloads-order .ui-button {
  padding: 0;
}
#xxx_content .tx-browser-pi1 .ui-button,
.xxx_tx-browser-pi1 form.tx_org_downloads-order .ui-button {
  padding: 0;
}
#content .tx-browser-pi1 .singleview .ui-widget-content {
  padding: 1em 1em 0 1em;
}
#content form.tx_org_downloads-order .ui-button {
  width: 11em;
}
#content .tx-browser-pi1-list .tx-browser-pi1-single form.tx_org_downloads-order .ui-button {
  font-size:1.15em;
}
#content form.tx_org_downloads-order div.ui-button {
  width: 10.9em;
}
#content form.tx_org_downloads-order .ui-button-text,
.tx-browser-pi1 form.tx_org_downloads-order .ui-button-text {
  padding: 0;
}
#content form.tx_org_downloads-order .ui-button-text img,
.tx-browser-pi1 form.tx_org_downloads-order .ui-button-text img {
  position: relative;
  top: 3px;
}
.tx-browser-pi1 form.tx_org_downloads-order input.quantity {
  padding-right: .2em;
  text-align: right;
  width: 3em;
}
.tx-browser-pi1 form.tx_org_downloads-order table td {
  padding-right: 1em;
}
.tx-browser-pi1 form.tx_org_downloads-order table td.csc-uploads-fileSize {
  text-align: right;
}

.tx_org_downloads-record {
  padding-bottom: 1em;
}


.tx-browser-pi1 tx_powermail_pi1_formconfirmation_submit {
  text-align:right;
}

.tx-browser-pi1 .category_menu_treeview {
  /*  float: left;
    padding-right: 1em;
    position: relative;
    width: 100%;*/
  margin-bottom: 1em;
}

.tx-browser-pi1 .category_menu_treeview a {
  font-weight:normal;
}
.tx-browser-pi1 .category_menu_treeview a.selected {
  font-weight:bold;
}

#tx-browser-pi1-jstree-01,
#tx-browser-pi1-jstree-02,
#tx-browser-pi1-jstree-03,
#tx-browser-pi1-jstree-04,
#tx-browser-pi1-jstree-05
{
  border: 1px solid #CCC;
  /*border-radius: 6px 6px 6px 6px;*/
  padding: 0.4em 0;
  /*  position: relative;
    top: 1em;
    z-index: 1;*/
}
.tx-browser-pi1 .sword {
  position: relative;
  z-index: 2;
}

/*.tx-browser-pi1 div.radialsearch-within-radius {
  background:#D2FF99;
  border-radius: .8em;
  padding: .4em .4em .1em .8em;
}*/

.tx-browser-pi1 div.radialsearch-outside-radius {
  /*  background:#CCC;
    border-radius: .8em;*/
  opacity: 0.4;
  /*  padding: .4em .4em .1em .8em;*/
}


/* tx_caddy */
#form-order fieldset {
  border:0;
  margin: 0 0 1em 0;
  padding: 1em 0;
}
/* tx_caddy */


/* foundation */
.circle img {
  border-radius: 10em;
}
.clearing-blackout {
  z-index: 2000; /* leaflet top has 1.000 */
}
.pricing-table {
  background-color:white;
}
.pricing-table .title {
  padding: 0;
  font-weight:bold;
}
.pricing-table .title .button {
  color:white;
  font-weight:bold;
}
.pricing-table button.expand,
.pricing-table .button.expand {
  margin: 0;
}
.sub-nav {
  margin-left: 0;
  padding-top: .75rem;
  padding-left: .5em;
}
ul.vcard {
  width:100%;
}
ul.vcard li.circle {
  display:list-item;
  list-style-position:inside;
}
ul.vcard li.expired {
  opacity:.5;
}
/* foundation */

/* leaflet */
leaflet-popup {
  color:#000;
}
.leaflet-control-layers label {
  color:#000;
}
/* leaflet */
